<div class="wrapper center-hor">
<form action="/login" method="POST" class="login-form">
  <p>
    Käyttäjätunnus:<br>
    <input size="25" type="text" name="username">
  </p>
  <p>
    Salasana:<br>
    <input size="25" type="password" name="password">
  </p>
  {% with error = get_flashed_messages()[0] %}
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}
  {% endwith %}
  <input type="submit" value="Kirjaudu" class="button bg-blue mt-20">
</form>

<br>
<div class="mt-20 mb-20">Tai</div>
<br>
<input type="button" value="Luo uusi tili" onclick="location.href = '/signup';" class="button bg-green">
</div>