* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#header {
  background-color: black;
  color: white;
  margin: 0;
  width: 100%;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3 {
  color: white;
}

.home-link {
  text-decoration: none;
  color: white;
  font: bold 16px;
}

.header-link{
  color: white;
  margin-right: 16px;
}

.center-hor {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content {
  max-width: 75ch;
}

.button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 5px 9px; /* top, right, bottom, left */
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block; /* To make margins work */
  margin-bottom: 4px;
}

.add {
  display: inline-block;
  background-color: forestgreen;
  color: white;
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mx-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ml-8 {
  margin-left: 8px;
}

.error {
  color: red;
}

.green-text {
  color: green;
}
