{% extends "base.html" %}
{% block title %}{{ classname }}{% endblock %}

{% block body %}
<div class="page-content">
  <div class="mb-10 mt-20"><b>{{ classname }}</b></div>
  <div class="mb-10">{{ description }}</div>
  {% if session["is_admin"] %}
    <form class="inline" method="POST" action="/class/remove">
      <input type="hidden" name="classname" value="{{ classname }}">
      <input class="cancel button" type="submit" value="Poista kurssi">
    </form>
  {% elif not is_registered %}
    <form action="/class/signup" method="POST">
      <input type="hidden" name="class" value="{{ classname }}">
      <!-- Hide button if already registered -->
        <input type="submit" value="Ilmoittaudu" class="button">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
  {% else %}
    <span class="green-text">Olet ilmoittautunut kurssille.</span>
    <form action="/class/cancel" method="post">
      <input type="hidden" name="class" value="{{ classname }}">
      <input type="submit" value="Peru ilmoittautuminen">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
  {% endif %}
</div>
{% endblock %}
