{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
{% if session.username %}
  <p>Tarjolla olevat kurssit:</p>
  {% for class in classes %}
    <div class="mb-10">
      <a href="/class/{{ encode_url(class.name) }}" class="button">
        {{ class.name }}
      </a>
    </div>
  {% endfor %}
{% else %}
  <form action="/login" method="POST">
    <p>
      Käyttäjätunnus:<br>
      <input type="text" name="username">
    </p>
    <p>
      Salasana:<br>
      <input type="password" name="password">
    </p>
    {{ error }}<br>
    <input type="submit" value="Kirjaudu">
  </form>
  {% with error = get_flashed_messages()[0] %}
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}
  {% endwith %}

  <div>Tai</div>
  <input type="button" value="Luo uusi tili" onclick="location.href = '/signup';">
{% endif %}
{% endblock %}
